@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background: white;
    color: black;
    margin: 0;
}

header {
    background: rgb(33, 44, 51);
    padding: 12px, 30px;
    color: white;
    text-align: center;
    font-size: 20px;
}

footer {
    font-family: "Roboto Thin";
    position: absolute;
    font-size: 15px;
    bottom: 0pt;
}

#icon-bar {
    background:white;
}

#name {
    font-family: "Roboto Black";
    font-size: 48px;
}

#nav {
    overflow: hidden;
    width: 50%;
    display: inline-block;
    background-color: rgb(33, 44, 51);
}
  
#nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto Black";
    font-size: 25px;
    width: 30%;
}
  
#nav a:hover {
    cursor: auto;
}

#nav a span:hover {
    color: rgb(219, 48, 48);
    cursor: pointer;
}

#about {
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
}

#projects {
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
}

#contact {
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
}

.sectionname {
    font-family: "Roboto Black";
    text-decoration: overline;
    color: rgb(219, 48, 48);
    font-size: 38px;
}

.row-container {
    display: flex;
}

.big-icon {
    color: rgb(219, 48, 48);
}
