@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #151D21;
    color: white;
    margin: 0;
}

h1 {
    font-family: 'Roboto Black';
    font-size: 48px;
}

header {
    background: rgb(16, 22, 26);
    padding: 25px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

footer {
    font-family: 'Roboto Thin';
    text-align: center;
    position: absolute;
    font-size: 15px;
    bottom: 0pt;
}

#icon-bar {
    background: #151D21;
    position: absolute;
    right: 0pt;
    bottom: 0pt;
}

.row-container {
    display: flex;
}

.big-icon {
    color: rgb(105, 30, 30);
}